/*
Estilos para etiquetas del html
*/
body{
    background: #fff;
}
legend{
    color: #006505;
}
table {
  font: .9em cursive, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align: center;
}

/*
Estilos para ocultar las clases poción1 y opción2
*/
.opcion1{
    display: none;
}
.opcion2{
    display: none;
}
.login{
    display: none;
}
.opcion3Oferta{
    display: none;
}
/*
Estilos para dar formato a clases del html
*/
.lista{
    font: .20em cursive, Helvetica, sans-serif;
}
/*
Estilos para id del html
*/
#usuariosPen{
    display: inline-block;
}
#crearOferta{
    display: inline-block;
}
#idOfertaForm{
    display: inline-block;
}

table{
    border-collapse: collapse;
    background: #fff;
}
td{
    font-size: small;
}
th{
    font-size: medium;
    
}